{:deps
 {clj-commons/clj-yaml  {:mvn/version "0.7.0"}
  medley                {:git/url "https://github.com/weavejester/medley"
                         :sha "6c79c4cce52b276daa3c2b6eaea78f96904bca56"
                         :tag "1.3.0"}
  selmer                {:mvn/version "1.12.23"}}

 :aliases
 {:dev        {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                          "--illegal-access=deny"
                          "-Dclojure.server.repl={:port,0,:accept,clojure.core.server/repl}"]}

  :run        {:jvm-opts ["-Dapple.awt.UIElement=true" "-Djava.awt.headless=true"]}

  :build-docs {:main-opts ["-m" "dad.cli"]}}}
